<script type="text/javascript">
    RED.nodes.registerType("ALMACEN", {
        category: "function",
        color: "#5392c9",
        defaults: {
            cellProp: { value: 4 },
            /* SDVProp: { value: SDV1},> */
            typeProp: { value: "move" }
        },

        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function () {
            return this.name || "ALMACEN";
            // return "CELDA" + this.cellProp || "CELLx";
        }
    });
</script>

<script type="text/x-red" data-template-name="ALMACEN">
    <div class="form-row">
        <label for="node-input-cellProp">Seleccione celda:</label>

        <select type="number" id="node-input-cellProp">
            
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        
        </select>
        
        
      </div>
    
    
      <img src="/img/almacen/almacen.jpg" alt="almacen" width="300" height="225" id="almacen_img" >
        
</script>

<script type="text/x-red" data-help-name="ALMACEN">
  <p>Test for ALMACEN machine</p>
</script>
